.AppBar {
    background: #f8f8f8;
    color: gray;
}

.ClothesCardEditableContainer {
    margin: 0 auto;
    padding-top: 3vh;
    display: flex;
    overflow-x: scroll;
    max-width: 50vw;
    min-height: 15vw;
}

.ClothesCardEditableContainerFooter {
    position: sticky;
    margin: 0 auto;
    text-align: center;
    max-width: 50vw;
}
