.App {
  text-align: center;
}

.Title {
  padding-top: 2vh;
  color: #586c7b;
  font-family: "Candara", serif;
}

.Weather {
  width: 50vw;
  padding-top: 2vh;
  margin: 0 auto;
}

.App-link {
  color: #09d3ac;
}

.Suggestions {
  padding-top: 2vh;
  width: 50vw;
  margin: 0 auto;
}

.Edit {
  text-align: right;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
  padding-bottom: 1vh;
}

.TopsSuggestions {
  display: flex;
  overflow-x: scroll;
}

.BottomsSuggestions {
  padding-top: 1vh;
  display: flex;
  overflow-x: scroll;
}

.TemperatureBar {
  padding-top: 1vh;
  text-align: center;
}
