.App {
  text-align: center;
}

.Title {
  padding-top: 2vh;
  color: #586c7b;
  font-family: "Candara", serif;
}

.Weather {
  width: 50vw;
  padding-top: 2vh;
  margin: 0 auto;
}

.App-link {
  color: #09d3ac;
}
